---
title: a free society of free people is possible.
---

<p>This is a portable digital archive of literature and posters that preserve and promote a culture of autonomy, cooperation, common ownership, direct action, mutual aid, and voluntary association with the aims of building a society free from rulership, exploitation, censorship, coercion, hierarchy, fascism, and oppression.</p>

<img src="/images/zine_layout.png" style="float: right; height: 200px; width: auto; padding: 10px;"> 

<p>The materials in these collections are laid out for printing double-sided and binding into booklets for distribution. In order to read them on your screen, you'll need to follow the zig-zag pattern to the right. Start on the right-hand side of page 1, then read the left-hand side of page 2, then back and forth until you reach the end. At the end, switch, and move page by page back towards the beginning.</p>

<p><strong><a href="https://github.com/infoshop-io/site/archive/master.zip">Download a full copy of these archives for offline distribution.</a></strong> To submit content to these archives, email it to <a href="mailto:infoshop-io@riseup.net">infoshop-io@riseup.net</a> or <a href="https://github.com/infoshop-io/generator/">fork the generator repository, add your content, and send the maintainers a pull request.</a></p>

<p>Below are some introductary resources; select a topic to the right for more in-depth materials.</p>

<% media = items_with_tag('introduction') %>
<%= render '/media.*', :media => media %>