<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>infoshop.io<% if @item[:title] %>: <%= @item[:title] %><% end %></title>

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon-16x16.png">
    <link rel="manifest" href="/images/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="twelve columns header">
          <h1><a href="/">infoshop.io</a><% if @item[:title] %>: <%= @item[:title] %><% end %></h1>
        </div>
      </div>
      <div class="row">
        <div class="ten columns content">      
          <%= yield %>
        </div>
        <div class="two columns sidebar">
          
          <img src="/images/black-flag.png" alt="Black Flag Image"/>

          <h2>Praxis</h2>

          <ol>
            <li>Educate</li>
            <li>Agitate</li>
            <li>Organize</li>
            <li>Confront</li>
          </ol>

          <h2>Topics</h2>

          <ul>
            <% items.select{|i| i.identifier =~ /\/topics\/.+/}
                    .select{|topic| topic.attributes[:frontpage] == true}
                    .sort{|a,b| a.attributes[:title] <=> b.attributes[:title]}
                    .each do |topic| %>
              <li>
                <a href="<%= topic.identifier.without_ext %>/index.html"><%= topic.attributes[:title] %></a>
                <span class="count">
                  <%= items_with_tag(topic.identifier.without_ext.to_s.gsub('/topics/', '')).length %>
                </span>
              </li>
            <% end %>
          </ul>

          <h2>Principles</h2>

          <ul>
            <li>Autonomy</li>
            <!-- <dd>Freedom from external control</dd> -->

            <li>Cooperation</li>
            <!-- <dd>Working together towards the same goal</dd> -->

            <li>Common Ownership</li>
            <!-- <dd>Groups rather than individuals own property</dd> -->

            <li>Direct Action</li>
            <!-- <dd>Solving issues ourselves non-politically</dd> -->

            <li>Mutual Aid</li>
            <!-- <dd>Voluntary reciprocal exchange of resources</dd> -->

            <li>Voluntary Association</li>
            <!-- <dd>Individuals freely form groups</dd> -->
          </ul>

          <h2>Distribution</h2>

          <dl>
            <dt>Online</dt>
            <dd><a href="http://infoshop.io/">http://infoshop.io/</a></dd>

            <dt>Download</dt>
            <dd><a href="https://github.com/infoshop-io/site/archive/master.zip">zip archive</a></dd>

            <dt>Source Code</dt>
            <dd><a href="https://github.com/infoshop-io/generator/">generator</a> &middot; <a href="https://github.com/infoshop-io/site/">site</a></dd>
          </dl>

          <h2>Contact</h2>

          <p><a href="mailto:infoshop-io@riseup.net">infoshop-io at riseup.net</a></p>

        </div>
      </div>

    </div>
  </body>
</html>
